# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/

# Virtual environments
.venv/
venv/
env/
.nanodet_env/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Large checkpoint files (keep only .pt)
workspace/nanodet-plus-m-1.5x_320/model_best/model_best.ckpt

# Generated dataset folders
data/datasets/dataset_test/
data/datasets/dataset_mod_coco/
